.bg-image {
    height: auto;
    width: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    display: flex;
    overflow: hidden;
}

#datos-finales {
    width: 100%;
    height: 50%;
    font-size: 2rem;
}

#datos-finales h2 {
    font-size: 2rem;
}

#datos-finales p {
    color: black;
}

#datos-finales h1 {
    color: black;
}

#unidad-medida {
    color: black;
}
